apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "partsunlimited.fullname" . }}-config
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "partsunlimited.labels" . | nindent 4 }}
data:
  ASPNETCORE_ENVIRONMENT: "Production"
  ASPNETCORE_URLS: "http://+:8080"
  KeyVault__VaultUri: {{ .Values.keyvault.vaultUri | quote }}
  ApplicationInsights__ConnectionString: {{ .Values.appInsights.connectionString | quote }}
  ConnectionStrings__DefaultConnection: >-
    Server={{ .Values.sql.server }};
    Database={{ .Values.sql.database }};
    Authentication=Active Directory Default;
    Encrypt=True;
    TrustServerCertificate=False;
  AzureAd__Instance: "https://login.microsoftonline.com/"
  AzureAd__TenantId: {{ .Values.entra.tenantId | quote }}
  AzureAd__ClientId: {{ .Values.entra.clientId | quote }}
  AzureAd__CallbackPath: "/signin-oidc"
